name: React, Java CI with Node, Maven and JUnit

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: Checkout code to backend folder
        uses: actions/checkout@v2
        with:
          path: WeatherApp-Backend
    
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
          
      - name: Checkout code to backend folder
        uses: actions/checkout@v2
        with:
          path: WeatherApp-FrontEnd   

      - name: Install Node.js and npm
        uses: actions/setup-node@v3
        with:
          node-version: '18.12.1'
          cache: 'npm'

      - name: Install dependencies and build frontend
        run: |
          cd WeatherApp-FrontEnd
          npm ci
          npm run build

      - name: Upload frontend artifact
        uses: actions/upload-artifact@v2
        with:
          name: frontend
          path: WeatherApp-FrontEnd/build

